<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/imgs/favicon/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/path/to/your/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/imgs/favicon/apple-touch-icon.png">
    <script src="https://kit.fontawesome.com/28cccff5d9.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="stylesheet" href="/styles/news.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <title>EcoInfoHub</title>
  </head>
  <body>
    <!-- Начало, Мониторинг, Новини, Анкети, Полезни връзки, Помощ и контакти  
     (Администраторски панел) -->
    <header class="nav-bar">
      <div class="nav-item first">
        <a href="/"><img class="logo" src="/imgs/logoEco.png" alt="" /></a>
        <a href="/" class="title">EcoInfoHub</a>
      </div>

      <div class="nav-item middle">
        <div class="nav-button">
          <a href="/">Начало</a>
        </div>
        <div class="nav-button">
          <a href="/news">Новини</a>
        </div>
        <div class="nav-button">
          <a href="/monitor/StaraZagora">Мониторинг</a>
        </div>
        <div class="nav-button">
          <a href="/surveys">Анкети</a>
        </div>
        <div class="nav-button">
          <a href="/help">Помощ и връзки</a>
        </div>
      </div>
      <div class="nav-item last">
        <% if(locals.loggedUser) {%>
          <p class="username"><%= loggedUser.username %></p>
          <% if(loggedUser.isAdmin) { %>
            <div class="nav-button"><a href="/admin/dashboard">Admin Panel</a></div>
          <% } %>
          <div class="nav-button"><a href="/logout">Log Out</a></div>
        <% } else {%>
        <div class="nav-button"><a href="/login" method="GET">Log In</a></div>
        <% } %>
      </div>
    </header>