<%- include("partials/header.ejs") %>
<main class="login-page">
  <h2 class="subtitle">Вход</h2>

  <% if (error) { %>
  <p style="color: red"><%= error %></p>
  <% } %>

  <form action="/login" method="POST">
    <label for="username">Потребителско име:</label>
    <input type="text" id="username" name="username" required />
    <br />

    <label for="password">Парола:</label>
    <input type="password" id="password" name="password" required />
    <br />

    <button type="submit">Вход</button>
  </form>
  <p>Нов потребител? <a href="/register" method="GET">Регистрирай се тук</a></p>
</main>
<link rel="stylesheet" href="/styles/loginRegister.css">
<%- include("partials/footer.ejs") %>
